@{
  Layout="_Layout";
}
<div class="container">
  <div class="page-header">
    <h1>Details for @Model["client"].GetName()</h1>
  </div>

  <h1 id="clientHeader">Current Stylist: <a href='/StylistDetails/@Model["stylist"].GetId()'>@Model["stylist"].GetName()</a></h1>

<form action='/StylistDetails/@Model["stylist"].GetId()/@Model["client"].GetId()/Edited' method="post">
  <div class="form-group">
  <label for="stylist">Change stylist</label>
   <select class="form-control" id="stylist" name="stylist">
     @foreach(var stylist in Model["allStylists"])
     {
       <option>@stylist.GetName()</option>
     }

   </select>

   <label for="name">Edit name</label>
   <input type="text" name="name"class="form-control" value=" @Model["client"].GetName()" >

   <label for="phone">Edit Phone</label>
   <input type="text" name="phone"class="form-control" value=" @Model["client"].GetPhone()" >

   <button type="submit" name="button" class="btn btn-success">Submit changes</button>
 </form>

  <a href='/ClientsAll'><button type="button" class="btn btn-info" name="button">View All Clients</button></a>


  </div>

</div>
